import * as React from 'react'
import type { Meta, StoryObj } from '@storybook/react-vite'

import { {{pascalCase name}} } from './{{dashCase name}}'

const meta = {
    title: 'Design system/{{pascalCase name}}',
    component: {{pascalCase name}},
    parameters: {
        badges: ['accessible'],
    },
} satisfies Meta<typeof {{pascalCase name}}>

export default meta

type Story = StoryObj<typeof meta>

export const Playground: Story = {
    args: {
        variant: 'primary',
        children: 'Hello world',
    },
    argTypes: {
        variant: {
            control: { type: 'inline-radio' },
            options: ['primary', 'secondary'],
        },
        children: {
            control: { type: 'text' },
        },
    },
    render(args) {
        return (
            <section>
                <{{pascalCase name}} {...args} />
            </section>
        )
    },
}
